<div class="container-fluid" >
    <div class="row" style="padding:10px">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Desarrollo ZWEICOM!</h1>
                <p class="lead">Sucesión de Fibonacci.</p>
                <hr class="my-4">
              </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <img src="./../../assets/img/pic.jfif" width="300" class="card-img-top" alt="...">
                <div class="card-body">
               
                    <form>
                        <div class="form-group">
                          <label for="exampleInputnum">Ingresa un número</label>
                          <input type="text" class="form-control" id="exampleInputnum" aria-describedby="numHelp" #numero
                          (keypress)="ValidarNum($event)"
                          >
                        </div>
                        <button (click)="formulaFibonacci(numero.value)"  type="button" class="btn btn-primary">Buscar</button>
                      </form>

                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="alert alert-success" role="alert" *ngIf="sucesion != null">
                <h4 class="alert-heading">¡Resultado Obtenido!</h4>
                <p>Dado el número recibido: {{numero.value}}</p>
                <hr>
                <p class="mb-0">
                    La sucesión de Fibonacci es: <b>{{sucesion}}</b>
                </p>
                <hr>
                <p class="mb-0">
                    El n-ésimo término de la sucesión de Fibonacci es: <b>{{enesimo}}</b>
                </p>
              </div>
        </div>
        

    </div>
</div>